modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["jdk11"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "BuildIOS"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "BuildAndroid"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "EASBuild"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "BuildiOS"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd simple-server && node server.js"
waitForPort = 5000

[[workflows.workflow]]
name = "BuildIOS"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && npx expo prebuild -p ios"

[[workflows.workflow]]
name = "BuildAndroid"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && npx expo prebuild -p android"

[[workflows.workflow]]
name = "EASBuild"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && EXPO_TOKEN=rvxlBHyFU-XtCyZqkKCyCL8nluZmMBuaF8kT-8Bd npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "BuildiOS"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd . && EXPO_TOKEN=rvxlBHyFU-XtCyZqkKCyCL8nluZmMBuaF8kT-8Bd npx eas build --platform ios --profile preview --non-interactive --no-wait"

[deployment]
run = ["sh", "-c", "cd simple-server && node server.js"]

[[ports]]
localPort = 5000
externalPort = 80
