modules = ["nodejs-20", "python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["jdk11", "imagemagick", "tree"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Development Server"


[[workflows.workflow]]
name = "Development Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx webpack serve --mode development --host 0.0.0.0 --port 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "StaticServer"
author = "agent"

[deployment]
run = ["sh", "-c", "npx webpack serve --mode development --host 0.0.0.0 --port 5000"]

[[ports]]
localPort = 5000
externalPort = 80
